[Desktop Entry]
Name=KR580
Comment=KR580VM80 / Intel 8080 emulator
Exec=@EXEC@ %f
Icon=kr580
Type=Application
NoDisplay=true
Terminal=false
MimeType=application/x-kr580;
Categories=Development;
